.crew-p {
  margin-top: 3rem;
  max-width: 75%;
  font-size: 1rem;
  font-family: "StarJedi", sans-serif;
}

.crew-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "card1 card2 card3"
    "card4 . card5";
  gap: 10px;
  justify-content: center;
  max-width: 100%;
  margin-top: 5rem;
}

.crew-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crew-card-h2 {
  text-align: center;
  padding-top: 2rem;
}
.crew-card-h3 {
  padding: 1rem;
  text-align: center;
  font-size: 13px;
}
.crew-card-img {
  width: 200px;
  height: 50%;
}
.crew-card-p {
  text-align: center;
  padding-top: 2rem;
  font-size: 14px;
}
/* For better visual I put 5.th element to 2nd row 3rd column*/
.crew-card:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 2;
}
