.ulContainer {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  color: white;
  margin-top: 3rem;
}

.listItem {
  width: 10rem;
}

.title {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}
.name {
  font-size: 1.5rem;

  margin-bottom: 1rem;
  color: white;
}
.duties {
  font-size: 1rem;
  color: white;
  margin-bottom: 4rem;
  font-weight: 200;
}

.image {
  max-width: 100%;
}
