.ulContainer {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  color: white;
  margin-top: 3rem;
}

.number {
  font-size: 4rem;
  color: white;
  font-weight: 600;
}

.title {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.description {
  font-size: 1rem;
  color: white;
  margin-bottom: 4rem;
  font-weight: 200;
}

.divider {
  border-bottom: 1px solid #dbd8d8;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
