.app {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.crewContainer,
.valueContainer
 {
  display: grid;
  gap: 20px;
  padding: 10px;
}

.valueItems{
  display: flex;
  align-items: center;
}

.value {
  border-bottom: 1px solid rgba(88, 95, 137, 0.755);
}

.valueTitle {
  color: gray;
  font-size: 120px;
  font-weight: 700;
  padding: 20px 30px 20px 30px;
}

.ourValues {
  font-weight: 600;
}

.valueDescription {
  line-height: 22px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.8;
}

.headerThree,
.heading {
  font-size: 15px;
  font-weight: normal;
  margin-top: 10px;
}


.crewContainer {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 20px 40px;
}

.valueContainer {
  grid-template-columns: 1fr 1fr;
}

.crewImage {
  width: 100%;
  height: 250px;
  background-color: rgba(88, 95, 137, 0.755);
  cursor: pointer;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.crewImage:hover {
  transform: scale(1.1);
}

.crewName {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.crewTitle {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  font-style: italic;
}

.crewDescription {
  padding: 5px 0;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.2;
  text-align: center;
}


.logoContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

.logoDiv {
  padding: 15px;
  height: 100px;
}

.logoImage {
  width: 70%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .crewContainer,
  .valueContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .logoContainer {
    grid-template-columns: repeat(2, 1fr);
  }
} 